// Variables

:root {
  --accent1: #f93b50;
  --accent2: #18212f;
  --bodyColor: #18212f;

  // Breakpoints
  --xs: "0";
  --sm: "576px";
  --md: "768px";
  --lg: "992px";
  --xl: "1200px";
}
// Color system

// Spacing
$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
    6: (
      $spacer * 4,
    ),
    7: (
      $spacer * 5,
    ),
    8: (
      $spacer * 6,
    ),
  ),
  $spacers
);

// Body
//
// Settings for the `<body>` element.

$body-bg: #ffffff;
$body-color: var(--accent2);

// Links
//
// Style anchor elements.

$link-color: theme-color("primary") !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Typography
//
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
$font-family-sans-serif: "Work Sans", sans-serif;
$font-family-serif: serif;
$font-family-monospace: monospace;
$font-family-base: $font-family-sans-serif;
// stylelint-enable value-keyword-case

$font-size-base: 1rem; // Assumes the browser default, typically `16px`

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
