.contact {
  a {
    color: var(--bodyColor);
    &:hover {
      text-decoration: none;
    }
  }

  .contact__link {
    margin: 0.5rem 0;

    a {
      display: inline-flex;
      align-items: center;
      color: var(--accent1);
    }
    svg {
      margin-right: 1.5rem;
    }

    span {
      font-size: 1.15rem;
      color: var(--bodyColor);
    }
  }

  .contact__text {
    font-size: 1.125rem;
  }

  .follow {
    letter-spacing: 2px;
  }

  .follow__link {
    color: var(--bodyColor);
    transition: color 0.3s ease;
    will-change: color;
    svg {
      height: 30px;
      width: 30px;
    }

    &:hover {
      color: var(--accent1);
    }
  }
}
